.navbar {
  display: flex;
  gap: 4.37em;
  justify-content: center;
  align-items: center;
  color: var(--lightWhite);
  margin: 0;
  padding-top: 1em;
  z-index: 99;
}

.navbar-fixed {
  padding-top: 0.625em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #29313c;
  padding-bottom: 0.625em;
  transition: 1s;
  color: #fff;
}

.navbar li {
  list-style: none;
}

.navbar li:active {
  outline: none;
  color: #29313c;
}

.navbar li:hover {
  color: #00ADB5;
}

.btn--slide {
  position: relative;
  display: inline-block;
  height: 40px;
  min-width: 220px;
  line-height: 40px;
  padding: 0;
  border-radius: 50px;
  background: #393E46;
  border: 2px solid #00ADB5;
  transition: .5s;
  margin-left: 3em;
}

.btn--slide:hover{
  background-color: #00ADB5;
}

.btn--slide:hover span.circle {
  left: 100%;
  margin-left: -35px;
  background-color: #fff;
  color: #00ADB5;
}

.btn--slide:hover span.title {
  left: 40px;
  opacity: 0;
}

.btn--slide:hover span.title-hover {
  opacity: 1;
  left: 60px;
  color: #fff;
}

.btn--slide span.circle {
  display: block;
  background-color: #00ADB5;
  color: #fff;
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 30px;
  height: 28px;
  width: 30px;
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 50%;
}

.btn--slide span.title, .btn--slide span.title-hover {
  position: absolute;
  left: 55px;
  text-align: center;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 600;
  transition: .5s;
}

.btn--slide span.title-hover {
  left: 80px;
  opacity: 0;
}

.download {
  display: none;
}

/* ------ /// Burguer Menu /// ------ */
.show {
  display: block;
  z-index: 99;
}

div.show {
  display: none;
}

.navbar-burguer {
  display: none;
  position: relative;
  background-color:  #393E46;
  transition: 1s;
  color: #fff;
  text-align: end;
}

.burguer{
  text-align: start;
  padding: 0;
  background-color: #00ADB5;
  margin: 0;
}

.burguer li {
  font-size: 0.9em;
  background: #333;
  padding: 1em;
}
.icon {
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0;
  cursor: pointer;
}

.fa-bars:hover {
  color: #00ADB5;
}

.burguer li:hover {
  background-color: #00ADB5;
}

@media (max-width: 859px) {
  .navbar {
    display: none;
  }
  .btn--slide {
    display: none;
  }
  .download {
    display: block;
  }

  .navbar-burguer {
    display: block;
  }
}
