.navbar {
  display: flex;
  gap: 4.37em;
  justify-content: center;
  align-items: center;
  color: var(--lightWhite);
  margin: 0;
  padding-top: 1em;
  z-index: 99;
}

.navbar-fixed {
  padding-top: 0.625em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #29313c;
  padding-bottom: 0.625em;
  transition: 1s;
  color: #fff;
}

.navbar-fixed li {
  margin-top: 0.4em;
}

.navbar li {
  list-style: none;
}

.navbar li:active {
  outline: none;
  color: #29313c;
}

.navbar li:hover {
  color: #00ADB5;
}

.btn--slide {
  position: relative;
  display: inline-block;
  height: 40px;
  min-width: 220px;
  line-height: 40px;
  padding: 0;
  border-radius: 50px;
  background: #393E46;
  border: 2px solid #00ADB5;
  transition: .5s;
  margin-left: 3em;
}

.btn--slide:hover{
  background-color: #00ADB5;
}

.btn--slide:hover span.circle {
  left: 100%;
  margin-left: -35px;
  background-color: #fff;
  color: #00ADB5;
}

.btn--slide:hover span.title {
  left: 40px;
  opacity: 0;
}

.btn--slide:hover span.title-hover {
  opacity: 1;
  left: 60px;
  color: #fff;
}

.btn--slide span.circle {
  display: block;
  background-color: #00ADB5;
  color: #fff;
  position: absolute;
  float: left;
  margin: 5px;
  line-height: 30px;
  height: 28px;
  width: 30px;
  top: 0;
  left: 0;
  transition: .5s;
  border-radius: 50%;
}

.btn--slide span.title, .btn--slide span.title-hover {
  position: absolute;
  left: 55px;
  text-align: center;
  margin: 0 auto;
  font-size: 0.9rem;
  font-weight: 600;
  transition: .5s;
}

.btn--slide span.title-hover {
  left: 80px;
  opacity: 0;
}

.download {
  display: none;
}

/* ------ /// Burguer Menu /// ------ */


.icon {
  display: none;
  position: fixed;
  z-index: 99;
  right: 1%;
  top: 1%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 2px solid #00ADB5;
  border-radius: 5px;
  background-color:  #393E46;
  border: 2px solid #00ADB5;
  border-radius: 10px;
}

.hamburguer {
  top: 50%;
  left: 18%;
  width: 23px;
  height: 3px;
  background: white;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  border-radius: 5px;
}

.hamburguer::before {
  top: -8px;
  left: 0;
  content: '';
  background: white;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  width: 23px;
  height: 3px;
  border-radius: 5px;
}

.hamburguer::after {
  top: 8px;
  left: 0;
  content: '';
  background: white;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  width: 23px;
  height: 3px;
  border-radius: 5px;
}

.list {
  font-size: 0.9em;
  margin: 0;
}

.list .listItems {
  padding: 0;
  margin: 0 0 1em;
}

.list .listItems li {
  margin: 0;
  padding: 1em 0;
  cursor: pointer;
}

.list .listItems li:hover {
  font-weight: 800;
}

.icon.iconActive .hamburguer {
  background: transparent;
}

.icon.iconActive .hamburguer::after {
  top: 0;
  background-color: white;
  transform: rotate(225deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.icon.iconActive .hamburguer::before {
  top: 0;
  background-color: white;
  transform: rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.menu {
  position: fixed;
  z-index: 98;
  right: 0%;
  top: 0;
  width: 200px;
  height: 100%;
  border-top-left-radius: 15px;


}
.menu.menuOpen {
  text-align: start;
  padding: 1em;
  margin: 0;
  background-color: #29313c;
  box-shadow: 10px 0px 69px 0px rgba(0, 0, 0, 0.59);

}

.menu.menuClose {
  display: none;
}

.iconsSide {
  display: flex;
  gap: 0.3em;
  justify-content: center;
  color: #00ADB5;
}

#rafaelLogo {
  margin: 3em 0 1em;
}

@media (max-width: 859px) {
  .navbar {
    display: none;
  }
  .btn--slide {
    display: none;
  }
  .download {
    display: block;
  }
  .icon {
    display: block;
  }
}

@media (max-width: 1024px) {
  .navbarLogo {
    display: none;
  }
}
