#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container {
  background-image: url(./assets/bg_header.png);
  background-size: cover;
}

#triangle {
  position: absolute;
  width: 330px;
  top: -330px;;
  left: 0%;
  z-index: 1;
}

.topSection {
  display: flex;
  justify-content: center;
  margin-bottom: 7.5em;
}

/* ------ /// ABOUT ME /// ------ */
.aboutme {
  background-color: #1D222A;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.aboutme--title h1 {
  color: #393e466d;
  opacity: 0.5;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 6.25rem;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
}

.aboutme--title h2 {
  color: white;
  letter-spacing: -0.02em;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
}

.aboutme p {
  text-align: justify;
  margin: 9em;
  line-height: 1.8;
  width: 50%;
  z-index: 2;
}

/* ------ /// SKILLS /// ------ */
.skills {
  background-color: #222831;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.skills--title h1 {
  color: #393e466d;
  opacity: 0.5;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 6.25rem;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.skills--title h2 {
  color: white;
  letter-spacing: -0.02em;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.skills--badges {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3em;
  margin: 9em;
}

.skills--badges img {
  width: 80px;
}
.skills--badges p {
  margin: -7px 0 0;
}

.badges:hover {
  transform: scale(1.5,1.5);
}

/* ------ /// PORTFOLIO /// ------ */
.portfolio {
  background-color: #1D222A;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
}

.portfolio--title h1 {
  color: #393e466d;
  opacity: 0.5;
  font-weight: 700;
  letter-spacing: -0.02em;
  font-size: 6.25rem;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}

.portfolio--title h2 {
  color: white;
  letter-spacing: -0.02em;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, -50%);
}

.portfolio p {
  text-align: justify;
  margin: 0;
}

.portfolio--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 400px;
  gap: 2em;
  margin: 9.375em 9em 15em;
}

.portfolio--card {
  min-height: 400px;
  position: relative;
}

.portfolio--img {
  width: 100%;
  height: 100%;
  border-radius: 28px;
}

.portfolio--overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #222831;
  border-radius: 24px;
}

.portfolio--overlay:hover {
  opacity: 0.97;
}

.portfolio--info {
  text-align: center;
}

.portfolio--info p {
  margin: 0;
  padding: 0.3em 0.6em;
}

.portfolio--btn-container {
  display: flex;
  gap: 1.8em;
  justify-content: center;
}

.portfolio--btn {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 120px;
  padding: 0;
  color: #00ADB5;
  font-size: 1.1rem;
}

.portfolio--btn:hover {
  color: white;
  transition: 1s;
}


/* ------ /// FOOTER /// ------ */
.footer {
  background-color: #00ADB5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 200px;
}

.footer--triangle {
  position: absolute;
  width: 550px;
  bottom: 0;
}

.footer h1 {
  font-weight: 700;
  letter-spacing: -0.02em;
  margin: 0;
  z-index: 1;
}

.footer--text {
  z-index: 1;
  position: absolute;
  top: -50px;
}

.footer--icons {
  display: flex;
  gap: 1.25em;
  justify-content: center;
}

#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 97;
  border: none;
  outline: none;
  background-color: #00ADB5;
  border: 1px solid #111212;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#topBtn:hover {
  background-color: #1D222A;
}


/* ------ /// MEDIA QUERIES /// ------ */

@media (max-width: 1208px){
  .introText h1  {
    font-size: 16rem;
  }
  .introText h2  {
    font-size: 3rem;
  }
  .profile_pic {
    top: 65%;
  }
}

@media (max-width: 1100px){
  .introText h1  {
    font-size: 15rem;
  }
  .introText h2  {
    font-size: 2.8rem;
  }
  .profile_pic {
    top: 65%;
  }
  #triangle {
    width: 230px;
    top: -42.5%;
  }
}

@media (max-width: 1029px) {
    .hero-contact {
    display: none;
  }
  .topSection {
    justify-content: center;
  }
  .profile_pic {
    top: 65%;
    width: 38%;
  }
}

@media (min-width: 651px) and (max-width: 900px) {
  #triangle {
    width: 180px;
    top: -33%;
  }
  .introText h1  {
    font-size: 11rem;
  }
  .introText h2  {
    font-size: 2rem;
  }
}


@media (max-width: 650px) {

  .introText h1 {
    font-size: 9rem;
  }
  .introText h2 {
    font-size: 1.8rem;
  }
  .introText p {
    font-size: 1rem;
  }
  .profile_pic {
    left: 87%;
    top: 70%;
  }

  .aboutme--title h1, .skills--title h1, .portfolio--title h1 {
    font-size: 5.75rem;
  }

  .aboutme--title h2, .skills--title h2, .portfolio--title h2 {
    font-size: 3.5rem;
  }

  .aboutme p {
    width: 80%;
  }

  .skills--badges {
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

  }

  #triangle {
    display: none;
  }

  .footer--triangle {
    width: 430px;
  }
  .footer--text {
    top: 0px;
  }
}


@media (max-width: 499px) {

  .introText h1 {
    font-size: 7rem;
  }
  .introText h2 {
    font-size: 1.3rem;
  }
  .introText p {
    font-size: 1rem;
  }
  .profile_pic {
    left: 85%;
    top: 70%;
  }

  .aboutme--title h1, .skills--title h1, .portfolio--title h1 {
    font-size: 4.5rem;
  }

  .aboutme--title h2, .skills--title h2, .portfolio--title h2 {
    font-size: 3.1rem;
  }
}
